/* AddPosition.css */

.add-position-container {
    max-width: 400px;
    margin: auto;
  }
  
  .add-position-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add-position-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .add-position-form input,
  .add-position-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-position-form textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  .add-position-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-position-form button:hover {
    background-color: #0056b3;
  }
  