.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/tank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: black;
  margin-top: 60px; /* Ajusta el margen superior para centrar el título */
  font-size: 70px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para resaltar */
  transition: color 0.3s ease; /* Transición de color suave */
}

.title:hover {
  color: #333; /* Cambia el color del título al pasar el cursor sobre él */
}

.description {
  background-color: rgba(24, 23, 23, 0.293); /* Fondo semi-transparente */
  color: white;
  max-width: 600px;
  text-align: center;
  font-size: 25px;
  margin-top: 20px; /* Ajusta el margen superior para centrar la descripción */
  margin: 0 auto;
  padding: 20px; /* Añade relleno para mejorar la legibilidad */
  border-radius: 10px; /* Añade bordes redondeados */
  box-shadow: 0 0 10px rgba(81, 81, 81, 0.5); /* Sombra para resaltar el cuadro de descripción */
}

.custom-button {
  background-color: #3498db; /* Color de fondo */
  margin-top: 30px;
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Relleno interno */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor tipo mano */
  transition: all 0.3s ease; /* Transición suave */
}

.custom-button:hover {
  background-color: #2980b9; /* Color de fondo al pasar el ratón */
  box-shadow: 0 0 10px #fff;
}