.container {
  text-align: center; /* Center the elements horizontally */
  padding: 300px; /* Add padding to improve appearance */
  /*background-color: rgb(28, 58, 68);*/
  background-image: url("../images/tank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: black; /* Define the color of the title */
}

.description {
  background-color: #282c34;
  color: white; /* Define the color of the description text */
  text-align: center; /* Center the text */
}

.link {
  color: #a1a1a1; /* Define the color of the link */
  display: block; /* Convert the link into a block to center it */
  margin: 0 auto;
  font-weight: bold
}