/* Profile.css */

.profile-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Add text-align property */
}

.profile-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Add flex-wrap property */
}

.profile-details div {
  width: 48%; /* Adjust as needed */
  text-align: center; /* Add text-align property */
}

.profile-details p {
  margin-bottom: 10px;
  text-align: center; /* Add text-align property */
}

h2 {
  color: #333;
  text-align: center; /* Add text-align property */
}