/* Profile.css */

.profile-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
  display: flex;
  flex-wrap: wrap;
}


.profile-details p {
  margin-bottom: 10px;
}

h2 {
  color: #333;
  text-align: center; /* Add text-align property */
}
.error-message {
  margin-top: 5px; /* Adjust the value as needed */
  display: block; /* Ensures the error message appears on a new line */
}