/* Style for the rectangle container */
.position-card {
  background-color: #e0f2f9;  /* Background color */
  border: 2px solid #007bff; /* Rectangle border */
  border-radius: 4px;         /* Rounded borders */
  padding: 5px;               /* Internal padding */
  box-shadow: 0px 2px 4px rgba(12, 12, 12, 0.1); /* Shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

/* Style for the titles */
.position-card h2 {
  margin-bottom: 10px; /* Space between title and paragraphs */
  font-size: 20px;     /* Title text size */
  color: #141414;      /* Text color */
}

/* Style for the paragraphs */
.position-card p {
  margin: 0;         /* Remove default margin */
  font-size: 16px;  /* Paragraph text size */
  color: #413e3e;   /* Text color */
}

/* Style for black text */
.black-text {
  color: #141414;
}

/* Style for links */
.position-card a {
  color: #007bff;    /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for link color */
}

.position-card a:hover {
  color: #b42d16;    /* Change color on hover */
}