/* VolunterSearchProfile.css */

.blue-page {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .search-bar {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .filter-button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  .filter-component {
    background-color: #fff;
    color: #333;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .filter-component h3 {
    color: #333;
  }
  
  .filter-component ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  .filter-component li {
    padding: 5px;
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  